<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Colo Shop Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/assets/styles/bootstrap4/bootstrap.min.css">
    <link href="~/Content/assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link rel="canonical" href="https://www.ten_mien_cua_cac_ban/" />
    <meta name="robots" content="index,follow,noodp" />
    <meta name="robots" content="noarchive">
    <meta property="og:site_name" content="Thư viện" />
    <meta property="og:type" content="Website" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:url" itemprop="url" content="https://www.ten_mien_cua_cac_ban/" />
    <meta content="https://cdn.24h.com.vn/upload/2-2018/images/2018-06-14/logo-chan-trang-24h.png" property="og:image" itemprop="thumbnailUrl" />

    @Styles.Render("~/Content/assets/themify-icons/themify-icons.css")

    <!--script_breadcrum-->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/styles/responsive.css">
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Content/assets/js/jquery-3.2.1.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
</head>
<body>
    <div class="super_container">

        @Html.Partial("_Nav")
        @RenderBody()
        @Html.Partial("_Footer")
    </div>


    @*@Scripts.Render("~/bundles/jquery")*@
    <script>
        const query = document.querySelector.bind(document);
        const queryAll = document.querySelectorAll.bind(document);
    </script>

    <script src="~/Content/assets/styles/bootstrap4/popper.js"></script>
    <script src="~/Content/assets/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="~/Content/assets/plugins/Isotope/isotope.pkgd.min.js"></script>
    <script src="~/Content/assets/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="~/Content/assets/plugins/easing/easing.js"></script>
    <script src="~/Content/assets/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script src="~/Content/assets/js/custom.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    @*@Scripts.Render("~/bundles/bootstrap")*@
    <script src="~/Scripts/jsShopping.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
