@model ThuVien.Models.phieumuon

<!-- Modal -->

<div class="modal fade" id="supplierModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Từ chối phiếu mượn</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm())
            {
                @Html.HiddenFor(m => m.maphieumuon)
                @Html.HiddenFor(m => m.tongtienphat)
                @Html.HiddenFor(m => m.userID)
                @Html.HiddenFor(m => m.sosachmat)
                @Html.HiddenFor(m => m.UserName)
                @Html.HiddenFor(m=>m.ngaymuon)
                @Html.HiddenFor(m=>m.soluongchitietmuon)
                <div class="modal-body">
                    <div class="form-group" style="height:150px">
                        <label>Lý do</label>
                        @Html.TextAreaFor(m => m.ghichu, new {@class="form-control",style="height:150px;"})
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary">Lưu lại</button>
                </div>

            }
        </div>
    </div>
</div>



