@model IEnumerable<ThuVien.Models.theloai>


@if (Model != null && Model.Any())
{<ul class="sidebar_categories">
    <li class="cate_id @(TempData["ActiveCategory"] == null ? "active" : "")" id="0">
        @Html.ActionLink("Tất cả", "Index", "Book", new { page = 1, cateID = (int?)null }, null)
    </li>
    @foreach (var item in Model)
    {
        <li class="cate_id @(item.matheloai == (int?)TempData["ActiveCategory"] ? "active" : "")" id="@item.matheloai">
            @Html.ActionLink(item.tentheloai, "Index", "Book", new { page = 1, cateID = @item.matheloai }, null)
        </li>

    }
</ul>

}

@*<script>
    $(".cate_id").click(function () {
        $(".cate_id").removeClass("active");
        $(this).addClass("active");
    });
</script>*@
